.vscode
.conda
.ipynb_checkpoints
Card-10/creditcard*
Card-12/airflow-materials*
.env
Card-13/arquivos*
Card-14/archives*
Card-17/Aula/spam.csv
Card-19/Pratica/.env
Card-19/Pratica/dags/__pycache__
Card-19/Pratica/logs
Card-23/fer_images*
Card-23/Material*